:root {
    --list-card-width: 240px;
    --deck-card-width: 160px;
}

body {
    display: flex;
    margin: 0 16px;
}

    body > section {
        width: 30%;
        margin: 0 0;
    }

[for='loadFile'] { display: block; }

#filters {
    margin: 0;
    width: 300px;
}

    #filters label {
        display: block;
        margin-bottom: 8px;
    }


#cardList {
    width: fit-content;
}

#deckList {
    list-style-type: none;
    list-style-type: none;
    padding-left: 0;
    /* Enough room for two columns of cards */
    width: calc(var(--deck-card-width) * 3 + 64px);
    overflow-y: scroll;
    height: 100vh;
}

    .deckItemControls {
        width: fit-content;
        margin: 0 auto;
    }

        .deckItemControls > span {
            margin: 0 8px;
        }

    #deckList > li {
        display: inline-block;
        break-inside: avoid-column;
        page-break-inside: avoid;
    }

    #deckList > li > div {
        width: fit-content;
        padding: 6px;
    }


#deckDetails .full {
    font-weight: bold;
    color: green;
}

#deckDetails .over {
    font-weight: bold;
    font-size: larger;
    color: red;
}

#filteredList {
    list-style-type: none;
    padding-left: 0;
    /* Enough room for two columns of cards */
    width: calc(var(--list-card-width) * 2 + 48px);
    overflow-y: scroll;
    height: 100vh;
}

    #filteredList > li {
        display: inline-block;
        break-inside: avoid-column;
        page-break-inside: avoid;
    }

    #filteredList > li > div {
        width: fit-content;
        padding: 6px;
    }

    #filteredList > li:nth-child(4n+1) > div,
    #filteredList > li:nth-child(4n+2) > div {
        background-color: #dddddd;
    }

    #filteredList > li:nth-child(4n) > div,
    #filteredList > li:nth-child(4n+3) > div {
        background-color: #eeeeee;
    }

    #filteredList img {
        display: block;
    }

    #filteredList [name='add'] {
        display: block;
        text-align: center;
        margin: 0 auto;
    }

* {
    font-family: sans-serif;
}

